## PORTFÖY TEORİSİ DENEME III

In [1]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from scipy.fft import fft, fftfreq

import matplotlib.pyplot as plt
import seaborn as sns

import json
import math

import requests

In [2]:
url = "https://giris.epias.com.tr"
 
headertgt = {"Content-Type" : "application/x-www-form-urlencoded",
             "Accept" : "text/plain"}
 
paramtgt = {"username" : "******@gmail.com",
            "password" : "*****"}

In [3]:
date1 = "2025-02-01T00:00:00+03:00"
date2 = "2025-02-28T00:00:00+03:00" #sontarihin tamamını alıyor

base_path = "https://seffaflik.epias.com.tr/electricity-service"
TGT_response = requests.post(url+"/cas/v1/tickets", headers = headertgt, params = paramtgt)

header={"Content-Type" : "application/json",
        "Accept" : "application/json",
        "Accept-Language" :"en",
        "TGT" : TGT_response.text}

In [4]:
params = json.dumps({"startDate": date1, "endDate": date2,"page": {"number": "", "size": "", "total": "", "sort": {"field": "date",  "direction": "ASC"}}})
result  = requests.request("POST", base_path+"/v1/markets/dam/data/mcp",  data = params, headers=header)

In [5]:
df = pd.DataFrame(result.json()['items'])
df['date'] = pd.to_datetime(df['date'])
df['hour'] = pd.to_datetime(df['hour']).dt.hour

C:\Users\gulis\AppData\Local\Temp\ipykernel_7508\2422603505.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['hour'] = pd.to_datetime(df['hour']).dt.hour

4 Farklı kaynak için farklı fiyatlar seçildi. 

+ Sabit USD             => 67 EUR/MWh
+ Sabit EUR             => 65 EUR/MWh
+ Sabit TRY             => 2500-2000 TL/MWh
+ Saarlik Fiyat TRY/MWh => 1.03 artırıldı

In [83]:
df["res"] = df["price"]/df["priceUsd"]*67
df["ges"] = df["price"]/df["priceEur"]*65
df['tes'] = df['hour'].apply(lambda x: 2500  if x >=12  else 2000 )
df['des'] = df["price"] * 1.03

df.describe()

,hour,price,priceUsd,priceEur,res,ges,tes,des
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.00000,672.000000
mean,11.500000,2478.279702,68.745967,66.009464,2415.345804,2440.417181,2250.00000,2552.628093
std,6.927343,416.377606,11.545798,11.070411,13.740089,26.368111,250.18622,428.868934
min,0.000000,750.000000,20.970000,20.190000,2393.173700,2389.417738,2000.00000,772.500000
25%,5.750000,2199.990000,60.690000,58.392500,2405.548774,2415.022763,2000.00000,2265.989700
50%,11.500000,2500.010000,69.730000,67.245000,2414.423743,2434.994405,2250.00000,2575.010300
75%,17.250000,2848.622500,78.815000,75.732500,2427.511377,2461.983153,2500.00000,2934.081175
max,23.000000,3000.000000,83.980000,80.760000,2438.149156,2481.621557,2500.00000,3090.000000

In [84]:
def portfolio(prices,C,a):
    N = prices.shape[1]
    lam = np.ones(N)
    Cov = prices.cov()
    P = prices.mean()
    tmp = np.matmul(np.linalg.inv(Cov),(lam - P*a/(2*C)))
    return tmp * (C / tmp.sum())

In [85]:
prices = df[["res","ges","tes","des"]]

In [86]:
portfolio(prices,100,1.0)

array([ 1.65695538e+02, -6.59292791e+01,  1.20844679e-01,  1.12896254e-01])

Yukarıda portfolyoda negatif çıkan değerler 'satmak' demek. Bizim durumda pek mantıklı değil ama mesela rüzgar elektrik santralimiz var olsaydı, almak yerine 2.85 ünite satsaydık sonra da elektriği dolar üzerinden 102.85 ünite satın alsaydık protfolyoyu optimize etmiş olurduk.